body { font-size: 100%; }


div.content,
div.content div,
div.footer 
   { font-size: 100%; }


h1 { font-size: 200%; }
h2 { font-size: 135%; }

Xbig { font-size: 130%; }

span.title { font-size: 115%; }


form input.significant,
form input.important,
form button.significant,
form button.important {
 padding-left : 3px;
 padding-right: 3px;
}

div.content form div.page,
div.content form div.page p,
div.content form div.page ul,
 { font-size: 100%; }

div.content form div.page p.explanation { font-size: 80%; }



input.inputcheckbox,
input.inputradio { 
 height: 1.6em;
 width:  1.6em;
}
