/* THE MAIN ACIS CSS STYLESHEET */

/* $Id: main.css,v 2.14 2007/03/14 12:31:58 ivan Exp $ */

body { 
 margin: 0;
 font-family: Verdana, Tahoma, sans serif;
 background: white;
 color: black;
}


form { 
 clear: both;
 background: #f4f4f4; 
 padding: 2em;
 padding-top: 0.6em;
 padding-bottom: 0.6em; 
}
form.narrow { padding-top: 4px; padding-bottom: 4px; }
form.narrow p { padding: 0; }
form.narrow p { margin-top: 4px; margin-bottom: 4px; }



/* for IE 5 */
form p { margin-top: 3px; padding-top: 6px; } 

.active { background: #ffc; }

input, textarea, select { 
 padding: 1px;
 font-size: larger;
}

/* input.edit, input.button */

input, textarea, select { 
 margin-top: 4px; 
 margin-bottom: 8px; 
 vertical-align: middle; 
}

input.inputcheckbox,
input.inputradio { 
 margin: 1px 2px 1px 0; 
 height: 1.4em;
 width:  1.4em;
/* vertical-align: baseline; */
}



label {
  cursor: pointer;
  padding: 1px 0 1px 0;
}


.highlight { border: 1px solid #c66; }


/****  errors and messages  ****/

.errors, .msg {
 border-left: 2em solid #c66;
 padding: 0 0 0 1em;
 font-weight: bold;
 margin-bottom: .5em;
}

.msg { border-color: #6c6; }

.errors p, .msg p { margin-top: 1em; margin-bottom: .3em; padding: 0; }
.errors ul,
.errors ul li { margin-top: 4px; margin-bottom: 0; }


/*___  errors and messages  ___*/



.institutions form { padding-left: 10px; } 
li.institution { 
 margin-bottom: 1.2em; 
}

#search-results li.institution {
 margin-bottom: 0.5em;
 margin-top:    0.5em;
}


div.photo { margin-left: 2em; margin-bottom: 2em; float: right; padding: 0px; }
div.photo h2 { margin-top: 0px; }
img.photo { margin: 5px; padding: 1px; border: 1px solid black; }


.name {
 font-style: italic; 
}

.title {
 font-size: larger;
} 

.header span.site-title {}

.header span.site-title,
h1, 
h2 { 
  font-family: Times New Roman, Georgia, Times, serif;
  font-weight: normal !important;
}


/* link colors */

a:link,
a:visited,
a:link span.a,
a:visited span.a,
a:hover,
a:active { }

a:hover, a:active {
  text-decoration: underline; 
}


.header a:link,
.footer a:link,
.header a:visited,
.footer a:visited,
.subHeader a:link,
.subHeader a:visited { }

.header a:hover,
.footer a:hover,
.subHeader a:hover,
.hovering a:link,
.hovering a:visited {
  text-decoration: underline; 
}


.header a:visited,
.footer a:visited {}

a:link.int    { color: green; }
a:visited.int { color: #985;  } 
a:hover.int   { color: green; }
a:active.int  { color: green; }

a:link.int    { color: #396; }
a:visited.int { color: #666; } 
a:hover.int   { color: #396; }
a:active.int  { color: #396; }

a:visited.int, 
a:visited.int span.a { color: #666; } 

a:link.int, 
a:link.int span.a,
a:hover.int,
a:active.int { color: green; }


a:link.permanent,  
a:visited.permanent { 
 text-decoration: none;
 color: #777;
}

a:hover.permanent,  
a:active.permanent { 
 text-decoration: none;
 color: #000;
}

a:link.evergreen,
a:visited.evergreen,
a:hover.evergreen,
a:active.evergreen  { color: green !important; }


p.site-title {
 margin:  10px 0 1px 0;
 padding: 0 0 0 28px;
}



a:link.site-title,
a:visited.site-title {
 color: black;
 color: #747474;
 text-decoration: none;
 font-weight: normal;
 padding: 0;
}

.homepage a:link.site-title,
.homepage a:visited.site-title {
 color: black;
}


p.logged-notice {
 margin-top: .6ex;
 margin-bottom: 3px;
 text-align: right;
}

span.flying {
 float: right;
}


.spacer { 
 clear: both; 
 height: 1px; 
 width:  1px; 
 margin:  0;
 padding: 0;
 padding-top: 10px;	
}

.subHeader { 
 margin: 0px 0 1.5em 0;
 background: #f4f4f4;
 padding: 0px 0 1px 0;
}

p.logged-notice, 
p.menu { 
 font-variant: small-caps;
}

.menu { clear: left; }

p.menu {
 margin: 0px 12px 0px 12px;
 padding: 5px 0 5px 0;
}


span.menu a,
p.menu a { 
  margin: -6px; 
  padding: 6px; 
}


span.menu a:hover,
p.menu a:hover { }




/*  REGISTRATION PROCESS STEPS */

.steps span { 
 border: 1px solid #ddd; 
 color: #999;
 margin: 1px;
 font-weight: bold;
 margin-left: 2px;
 margin-right: 5px;
}

.steps .past {
 color: #666;
 border-color: #999; 
}

.steps .current,
.here { 
 background:   #999;
 color:        #fff;
 border-color: #999; 
 font-weight:  bold;
}

.here { 
 padding-bottom: 2px;
 padding-top: 2px;
}

.here a:link,
.here a:visited {
 color: #fff;
}

.subHeader p.submenu {
 
  float: right;
  margin: 2px 12px 6px 6px;

  border: 1px solid #999; 
  padding: 0px;

  /* build-it into main menu */
  background: #f4f4f4;

  border: 1px solid #ddd; 
  margin: 0 0 6px 6px;
  border-top: 0;
  border-right: 0;

  padding: 0 6px 6px 6px;
  border: 0;
}

.subHeader p.submenu .head {
  display: block;
  padding-top: 2px;
  padding: 2px 3px 3px 7px;
  margin: 0;
}

.subHeader p.submenu .body {
  display: block;
  margin:  1px;
  margin-bottom: 3px;
}

.subHeader p.submenu span {
  display: block;
  margin: 6px;
}

.footer {
 border-top:   1px solid #ddd;

 padding-top: 1em;
 padding-bottom: 1em;

 clear: both;
}

.status {
 margin-top: 0.5em; 
 margin-bottom: 1px;
}


h1 { color: #333; }
h2 { color: #666; margin-top: 1.3em; }

form h2 { color: #444; }

ul.menu,
ol.menu,
ul.nameVariations { margin-top: -12px; }

li { 
 margin-top: 6px; 
 margin-bottom: 6px; 
/* list-style: url(../img/dot.gif); */
}


form ul li,
li ul li { 
  list-style-image: none; 
  list-style-type: circle; 
}

li li ul li { 
  list-style-image: none; 
  list-style-type: square; 
}

.institution-details li,
.names li { 
 margin-top:    2px; 
 margin-bottom: 2px; 
}


.breadCrumb { 
 font-size: smaller;
 margin-top: 4px;
 padding-top: 0px;
}

.note { 
 font-style: italic; 
}

.assumed_role {
 font-style: italic; 
}

.alternate {
 background: white;
}

table.resources { 
 border-collapse: collapse;  
 border-bottom: white solid 2px;
 clear: both;
}

.resources tr th {
 padding-left: 4px;
 font-style: italic;
}

.resources tr th.desc {
 padding-left: 8px;
}


.resources tr td { padding: 8px; vertical-align: baseline;
  vertical-align: top;
  padding-bottom: 1.4em; }

.resources tr td.description { margin-left: 0px;  }
.resources tr td.checkbutton {
     text-align: center; 
     margin-right: 0px;
     padding-top: 10px; 
     line-height: 145%;
}



ol.questionChoices {
 padding-bottom: .5em;
 }

.questionChoices li {
 margin-top: 2ex;
}

.questionChoices li a:link,
.questionChoices li a:visited {
 padding: 12px;
}

.questionChoices li a:hover {
 color: #fff;
 background: #333;
}

.access {
 color: #f33;
}

.questionChoices li.choice {
 background: #fff;
 font-weight: bold;
}


td.checkbutton { 
  text-align: center;
}


.checkBoxLabel {
  padding: 3px;
  color: #366;
  cursor: pointer;
}

.change_role_button {
  text-decoration: none; 
}

.metadata { 
 clear: both;
 margin-top: 3em;
 color: #888; 
}

.digit {
 font-family: New Courier, monospace;
}
 

#loginform input {
 margin-bottom: 4px;
}



.change-link {
 vertical-align: top;
 vertical-align: middle;
}

body { 
 padding: 0;
 border: 0;
 margin: 0;
}


#top {
 padding: 0px 12px 0px 12px;
 margin: 0;
 border-bottom: 1px solid #ddd;
}


.content {
 margin: 0;
 padding: 6px 40px 20px 40px;
}

.footer {
 margin: 0px 40px 0px 40px;
}

.footer .menu {
 text-align: center;
}

.after-footer {
 padding: 40px;
}



.onThisPage p {
 margin-bottom: 2px;
 font-weight: bold;
}
.onThisPage ul { margin-top: 0; }

.onThisPage ul li { 
 margin: 2px 0 0 0;
 padding: 0;
}

.supNav {
 font-size: smaller;
}

.utility {
 width: 12em;
 padding: 0.5em;
 margin:  1em;
 margin-right: 0;
 float: right;
 border: 1px solid gray;
}

.utility p {
 margin: 0.5em;
}


form .important {
 height: 2.6em;
 padding-left : 10px;
 padding-right: 10px;
}

form .significant {
 height: 2em;
 padding-left : 10px;
 padding-right: 10px;
}

form .important:hover,
form .significant:hover {
 background: #666;
 color:      #fff;
}





ul li { 
 list-style: circle; 
 }

li ul li { 
 list-style: square; }

li li ul li { 
 list-style: disc; 
 }

.pad {
 margin-left: 3em;
}

code.id {
 font-size: larger;
}

/*  events  */

.events {
 width: 100%;
}

.events table td { 
 vertical-align: baseline;
}

td.session {
 background: #eee;
 color: #000;
 padding: 1px 1px 1px 3px;
 padding: 3px;
}

td.session table {
 width: 100%;
/* table-layout: fixed;  */
 border-collapse: collapse;
}

td.session table td,
td.session table th,
td.session table caption {
 border: 1px solid #ccc;
 padding: 1px;
}

tr.error {
 x-background: #fff4f4;
 color: #900;
 font-weight: bold;
}

.events td.time {
 vertical-align: top;
}

td.session h3 {
 margin-top: 0;
}

td.session li, 
td.session ul {
 margin-top: 1px;
 margin-bottom: 0;
}


table.month { 
 table-layout: fixed; 
}

.month tr td {
 padding: 4px; 
 text-align: right;
 font-size: larger;
}

.month tr td a {
 padding: 6px; 
}

fieldset { padding: 1em; }


#search-results ul { margin-top: 0; }
#search-results p {  margin-bottom: 8px; }

#search-results li.institution {
 margin-bottom: 0.3em;
 margin-top:    0.3em;
}

#search-results li.institution form { margin: 0; }

#search-results { margin-bottom: 3em; }

#passwords input { margin-top: 1px; margin-bottom: 1px; }



.WrapHint {
 height: 1px;
 position: absolute;
 padding: 6px;
}

.Hint,
.SideHint {
 padding: 4px 6px 4px 6px;
 background: #fffff4;
 color: #333;
 font-weight: bold;
 border: #666 solid 1px;
 vertical-align: top;
 z-index: 1;
 margin: 0;
 display: block;
}

.SideHint {
 width: 240px;
}

.Hint {
 width: 500px;
 overflow: visible;
 }


.details { 
 font-size: smaller;
}

.institution .actionButton {
 float: left;
 padding-top: .4em;
}

.institution .description {
 padding-left: 5em;
 padding-top: .4em;
 padding-bottom: .5em;
 margin: 0; 
}

.aff-mode-remove .description {
 padding-left: 6em;
}

x.institution .description ul {
 padding-bottom: 0px; 
 margin-bottom: 1px;
}

form.institution,
form.alternate { 
  margin: 0;   
  padding-top: 0; 
  padding-bottom: 0;
}

.institution div {
  margin: 0; 
}

.institution div p { padding: 0; margin: 0; }

.institution .details { margin-top: .4em; margin-bottom: 0; }

.institution .details li { 
 margin-top: 3px; 
 margin-bottom: 1px; 
}


/****
***** research/.../scroll 
****/

.poster { 
  padding: 10px; 
  height: 6em; 
  vertical-align: top;
  clear: both;
  }

.page { 
  clear: both; 
  }



.announcement {
 border-left: 1px solid #eee;
 padding: 0px 0px 5px 1em;
 float: right;
 width: 20%;
}

p.date { 
  margin-top: -.5em;
  margin-bottom: 2.2em;
  font-style: italic;
 }

.news .date { 
 font-weight: normal;
}

.news li {
}

.announcement .news li {
 list-style-type: none;
 list-style-position: outside;
 display: block;
 margin-left: 0px;
 padding-left: 0px;
 margin-top: 1em;
}

.announcement ul.news {
 margin-left: 0px;
 padding-left: 0px;
}

a:link.hidden, a:visited.hidden,
a:link .hidden, a:visited .hidden {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

a:link span.a,
a:visited span.a {
  color: green;
  text-decoration: underline;
}

table.sql {
 border-collapse: collapse;  
 font-size: smaller;
}

table.sql tr td,
table.sql tr th { border: 1px solid #ccc; padding: 6px; }


.slogan { 
 margin-left: 100px;
 margin-right: 100px;

 margin-left: 15%;
 margin-right: 15%;
}

.records li {
 margin-bottom: 1em;
}



table.bigmenu { 
 border-collapse: collapse;  
}

table.bigmenu tr td { 
 border-top: 1px solid #ddd;
 padding: 6px 0 6px 0;
}

table.bigmenu { 
}

table.bigmenu tr.continued,
table.bigmenu tr.continued td,
table.bigmenu table td { 
 border: 0;
}

table.bigmenu table {
 border-collapse: collapse;
}

table.bigmenu table tr td {
 padding: 0;
 margin: 20px;
}

table.bigmenu tr td {
 vertical-align: top;
}

table.bigmenu tr td.no { 
 color: #ccc;
 text-align: right;
 font-size: 48px;
}

table.bigmenu tr td.no a,
table.bigmenu tr td.no a:visited { 
 color: #ccc;
 text-decoration: none;
}


table.bigmenu p,
table.bigmenu h2 {
 margin-top: 10px;
 margin-bottom: 1em;
 padding: 0;
}

table.bigmenu td.no p {
 margin-top: 8px;
 margin-bottom: 6px;

 padding: 0;
 padding-right: 16px;

 line-height: 100%;
}

table.bigmenu h2 a:link,
table.bigmenu h2 a:visited {
 text-decoration: none;
}

table.bigmenu h2 a:hover {
 text-decoration: underline;
}

.pad { 
 padding-left: 2em;
}

div.block {
 margin-top: 1em;
 margin-bottom: 2.5em;
}

.explanation {
 font-style: italic;
 font-size: smaller;
}

.explanation td {
 text-align: right;
 padding: 3px;
}


/************************************
**      TABS, ATTACHED TO A FORM 
*/


div.tabset form { 
  margin-top: 0; 
  border-top: 0;
  clear: both; 
}

div.tabset .tabs {
  margin-bottom:  0; 
  border-bottom:  0;
  padding-bottom: 0;
  clear: both;
}

div.tabset .tabs div { 
  float: left; 
  padding: 6px 14px 6px 14px;
  margin: 0;

  background: #fff; 
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;

}

div.tabset .tabs div.last { 
  float: none; 
}

div.tabset .tabs div.current { 
  background: #f4f4f4; 
  border: 1px solid #ddd;
  border-bottom: 1px solid #f4f4f4;
  padding: 6px 14px 6px 14px;
}

div.tabset .tabs div.tab { 
}

div.tabset .tabs a:link,
div.tabset .tabs a:visited { 
  padding: 6px 14px 6px 14px;
  margin-left: -14px;
  margin-right: -14px;
}


span.hidden {
 display: none;
}

div.header,
div.subHeader p
   { font-size:  80%; }

div.tabset .tabs div 
   { font-size:  80%; }


#top p.site-title big big span.site-title a { 
 font-size: 240%; 
 font-weight: normal;
}


#where-to-go {
  margin-top: 2.6em;
  margin-bottom: 1.8em;
}

#where-to-go ul {
  margin-left: 4em;
}

#where-to-go ul li {
  margin-top: 1em;
  font-variant: small-caps;
}


body.profile-page table.values {
  margin-left: 1.4em;
}

body.profile-page span.value {
  font-style: italic;
}



/* adm/get screen */

table.list { 
 border-collapse: collapse;  
 border: 1px solid #ddd;
}

table.list tr td,
table.list tr th { 
 border: 1px solid #ddd;
 padding: 6px;
}

table.list tr th { 
 font-size: 60%;
 font-weight: normal;
}

.disabled { 
  color: #999;
}



/*  Fixed Row Table -- table with disabled text wrapping */

table.fixedRowTable {
        width: 100%;    /* need to be adjusted in IE */
	table-layout: fixed;
	border-collapse: collapse;
}

table.fixedRowTable tr td.title,
table.fixedRowTable tr td.authors {
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:nowrap;
} 


/*   research/refused   */

form.refused { 
  padding-left:   0;
  padding-right:  0;
  padding-bottom: 0;
  margin-bottom: 3em;
}

form.refused p {
  margin-left:  2em;
  margin-right: 2em;
}

.briefResources {
  table-layout: auto;
  border-collapse: collapse;
  margin: 0;
}


.briefResources td {
  padding-top:   .6ex;
  padding-left:  1ex;
  vertical-align: baseline;
}

.briefResources .but {
  width: 9.5ex;
  padding-left:  0;
}

.briefResources .numb {
  width: 4ex;
  color: #666;
  font-size: smaller;
}

table.briefResources th {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
}

#researchRefused table tr .authors,
#researchRefused table.fixedRowTable  tr .authors,
#researchRefused table.briefResources tr .authors {
  width: 33%;
  padding-left: 1ex;
}

#researchRefused table tr td.authors,
#researchRefused table.fixedRowTable  tr td.authors,
#researchRefused table.briefResources tr td.authors {
  padding-bottom: 1em;
}

#researchRefused table.briefResources .but,
#researchRefused table.fixedRowTable .but  { 
  width: 9.5ex; 
  padding-left: 0;
}

#researchRefused table.briefResources .numb,
#researchRefused table.fixedRowTable .numb {
  width: 4ex; 
}

#researchRefused table.fixedRowTable {}
#researchRefused table.fixedRowTable td {
  padding-top:   .6ex;
  vertical-align: baseline;
}



#researchRefused input.RemoveButton {
  background: #f4f4f4;
  font-size: 80%;
  margin: 0;
}


/* removed-items-rows */

table.briefResources tr.disabled td.but { 
  font-size: 80%;
}

table.briefResources tr.disabled td,
table.briefResources tr.disabled td a:link {
  color: #999;
}
table.briefResources tr.disabled td a:visited { color: #777; }


#researchRefused .briefResources {
  background: #fff;
}


.tech { color: #666; }

.citstring {}

.citingtitle,
a.citingtitle {}

td.citation {
  padding-bottom: 1ex;
  padding-left: 1em;
}

td.subheader {  /* "new citations", "old citations" */
  padding-left: 1em;
  padding-bottom: 2ex;
}

td.subheader p {
  border-bottom: 1px solid #ccc;
  margin:0;
}

p.citing-document {
  margin: 0ex 0 1ex 0;
  padding: 0;
}

p.cited-as {
  margin: 1ex 0 1ex 0;
  padding: 0;
}

td.citcheckbox {
  border: 0;
  padding: 0;
}

.citcheckbox input {
  margin: 0;
}

table.citations, 
table.citations tr,
table.citations tbody {
  border-collapse: collapse;                    
  margin: 0;
  padding: 0;
  border: 0;
}


div.PSA { 
 xmargin: 3px 30em 3px 30em;       
 xwidth: 96%;
 xmargin-left:auto; 
 xmargin-right:auto;
 text-align: center;
 margin-top: 10px;
 font-family: "Times New Roman", serif;
}

div.PSA p {
 border: 1px solid #e99;
 padding: 3px 8px 3px 8px;
 display: inline;
}