
a:link, a:visited {
 xfont-weight: bold;
}

.toc a:link, .toc a:visited {
 font-weight: normal;
}

blockquote {
 xxx-font-style: italic;
 margin-left: 4em;
}

pre { 
 margin-left: 4em;
}


/* headers */

h1, h2, h3, h4, h5, h6 { 
  margin-top: 2em;
  font-weight: normal;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { 
  font-weight: bold; 
}


h1 {
  color: #996;
  font-size: 250%;
  margin-bottom: .8em;
  margin-top: 0;
}

h2 {
  color: #885;
  font-size: 200%; 
}

h3 {
  color: #774;
  font-size: 165%; 
}

h4 {
  color: #663;
  font-size: 140%; 
}

h5 {
  color: #552;
  font-size: 115%; 
}

h6 { 
  color: #330;
  font-size: 108%; 
}

/* headers finished */


p code, li code {
 xfont-weight: bold;
 font-size: 93%;
}

a.f, a.c, F, C, f, c, .F, .f, .C, .c, co, code {
 font-family: monospaced, courier;
}

a.f:link, a.f:visited, 
a.c:link, a.c:visited { 
 text-decoration: none;
 font-weight: bold;
}

td.f, code.f, code.F { 
 color: #500;
}

body {
 margin: 3em;
}

dd {
 margin-top: 0.3em;
 margin-bottom: 1em; 
}

table.files {
  border-collapse: collapse;
  margin: 1em;
}

table.files td, 
table.files th {
 border: 1px solid #ccc;
 padding: .6ex;
}

table.files td.f {
 font-family: monospaced, courier;
 vertical-align: baseline;
}

table.files th {
 text-align: left;
}

address {
 margin-top: 5em;
 color: #999;
 font-size: 80%;
}

div.note { 
 padding: 1ex;
 padding-left: 3em;
 background: #eeeedd;
 font-size: smaller;
}

p code { font-size: larger; }

img.snap { 
  border: 1px solid #999;
  padding: 1px;
}

var { font-family: monospaced, courier; }

.footer {
  margin-top: 3em;
  color: #999;
  font-size: 70%;
}